<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vegan Planet</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <nav>
      <a href="/">🌳</a>
      <div>
        <a href="/foods">ALL FOODS</a>
        <!-- Above renders whether signed in or not -->
        <% if (user) { %>
        <a href="/foods/new">ADD FOOD</a>
        <a href="/auth/sign-out">SIGN OUT</a>
        <span><%= user.username %></span>
        <% } else { %>
        <a href="/auth/sign-up">SIGN UP</a>
        <a href="/auth/sign-in">SIGN IN</a>
        <% } %>
      </div>
    </nav>
    <main>
      <h1><%= title %></h1>

