<%- include('./partials/header.ejs') %>

<section id="home-page-content">
    <h1>Welcome to Vegan Planet</h1>
        <p>
            If you are looking for vegan alternatives for foods like
            chicken, beef, eggs, pork, etc you have come to the right
            place. Whether you're a seasoned vegan, or just looking to
            incorporate more vegan meals into your diet, this app is your
            guide.
        </p>
</section>

<%- include('./partials/footer.ejs') %>