<%- include('./partials/header.ejs') %>

<ul>
    <% foods.forEach((food) => { %>
        <li>
            <a href="/foods/<%= food._id %>"</a>
        </li>
    <% }) %>
</ul>

<%- include('./partials/footer.ejs') %>