* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.nav-bar, .nav-bar > span {
  background-color: rgb(6, 131, 6);
}

.background {
  opacity: .9;
  background-image: url("https://hips.hearstapps.com/hmg-prod/images/gettyimages-1442849073-648c673408c0f.jpg?crop=0.5625xw:1xh;center,top&resize=640:*");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;

  h1 {
    background: transparent;
    color: white;
    font-size: 60px;
  }
}

nav,
footer {
  background-color: rgb(6, 131, 6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vmin;
  font-size: 2vh;
  color: white;
}

nav a {
  text-decoration: none;
  color: slategray;
  background-color: white;
  padding: 1vmin;
  border-radius: 1vmin;

  &:hover {
    background-color: black;
    color: white;
  }
}

nav span {
  font-size: 2.5vmin;
  color: white;
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 5vmin; */


  > * {
    position: absolute;
    top: 0;
    bottom: 0;
    /* background: transparent; */
    /* height: 100%;
    width: 100%; */
  }
}

form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2vmin;
}

form * {
  font-size: 2vmin;
  padding: 1vmin;
  border-radius: 1vmin;
}

input,
textarea,
select {
  border: 0.3vmin solid black;
}

form button[type='submit'] {
  grid-column: span 2;
}

button:hover {
  background-color: black;
  color: white;
}

.edit-button {
  border-radius: 1vmin;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 1vmin;
};

ul, li {
  list-style: none;
  list-style-type: none;
}