<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vegan Planet</title>
</head>

<%- include('../partials/_navbar.ejs') %>
<body>
    <h1>Welcome to Vegan Planet</h1>
    
    <% if (foodItems.length === 0) { %>
        <p>There is no favorite vegan alternatives</p>
    <% } else { %>
        <ul>
            <% foodItems.forEach(item=> { %>
                <li>
                    <%= item.name %>
                    <a href="/foods/<%= item._id %>/edit">Edit</a>
                    <form action="/foods/<%= item._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </li>
            <% }) %>
        </ul>
    <% } %>

    <a href="/foods/new">Add to Favorites</a>
</body>
</html>