<%- include('../partials/header.ejs') %>

<form action="/foods/search" method="GET">
    <input placeholder="Find vegan alternative" name="food">
    <button type="submit">Search</button>
</form>
    
    <% if (foods.length === 0) { %>
        <p>No favorite foods</p>
    <% } else { %>
        <ul>
            <% foods.forEach(food => { %>
                <li>
                    <%= food.veganName %>
                    
                </li>
            <% }) %>
        </ul>
    <% } %>

    <!-- <a href="/foods/new">Add to Favorites</a> -->
    <%- include('../partials/footer.ejs') %>