<%- include('../partials/header.ejs') %>

<form action="/foods/search" method="GET">
    <label for="food"></label>
    <input placeholder="" name="food">
    <button type="submit">Search</button>
</form>
    
    <% if (foods.length === 0) { %>
        <!-- <p>No favorite foods</p> -->
    <% } else { %>
        <ul>
            <% foods.forEach(food => { %>
                <li>
                    <button id="veg-food"><a href="/foods/<%= food._id %>"><%= food.veganName %></a></button>
                </li>
            <% }) %>
        </ul>
    <% } %>

    <%- include('../partials/footer.ejs') %>