<%- include('../partials/header.ejs') %>

<form action="/foods/search" method="GET">
    <label for="food"></label>
    <input placeholder="" name="food">
    <button type="submit">Search</button>
</form>
    
    <% if (foods.length === 0) { %>
        <!-- <p>No favorite foods</p> -->
    <% } else { %>
        <section id="veg-food">
            <% foods.forEach(food => { %>
                <article>
                    <button><a href="/foods/<%= food._id %>"><%= food.veganName %></a></button>
                </article>
                <% }) %>
        </section>
        <% } %>
                
<%- include('../partials/footer.ejs') %>
                
